.ipynb_checkpoints/
data/raw/
data/cleaned/.ipynb_checkpoints/
data/cleaned/cleaned_*.csv
data/cleaned/donations_consolidated.xlsx
data/outputs/
notebooks/.ipynb_checkpoints/
notebooks/Tamauri_Olive_Team1_Consolidation_Week3.ipynb
notebooks/week01_load_eda_cleaning.ipynb
notebooks/week02_contacts_vs_donors.ipynb
notebooks/donations_fundraiser_only.xlsx
notebooks/donations_readable_all_sources.xlsx
notebooks/pge_style_data_dictionary.csv
notebooks/pge_style_practice.db
notebooks/pge_style_service_requests.csv
outputs/figures/.ipynb_checkpoints/
*.db
*.xlsx
